@import './JF-flat.css';

body{
    font-family: 'JF Flat Regular', 'Times New Roman', Times, serif;
   
}

body > .container-fluid {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body > .container-fluid > .row:not(:first-child):not(#footer){
    flex-grow: 1;
}



#btn-shopping-cart {
    padding: 5px 10px;
    margin-left: 10px;
}



 .custom-carousel-indicators-primary img,
 .custom-carousel-indicators-primary img.active{
    height: 75px;
    width: 75px;
}



.custom-carousel-control>i{
    position: absolute;
    top: calc(50% - 20px);
}
.custom-carousel-control.right>i{
    left: 25%;
}

.custom-carousel-control.left>i{
    right: 25%;
}


.custom-heading{
    margin-bottom: 25px;
}



.custom-text-muted{
    color: #A9A9A9;
}


  .brand-nav{
      margin-top: 10px;
  }

  .brand-nav .brand-text{
      margin-left: 3px;
      display: inline-block;
  }

  .brand-nav .pull-left{
      height: 30px;
      display: flex;
      align-items: center;
  }

  

  #row-brands h3{
      border-top: 1px solid #EEF0EA;
      margin-right: 15px;
      margin-left: 15px;
      padding-top: 25px;

  }

  #brand-logos{
      background-color: #DCEEFA;
      padding: 25px 0;
  }

  #brand-logos img{
      margin-left: 25px;
      margin-right: 25px;
      max-height: 100px;
      max-width: 100px;
  }

  

  #footer-nav-links a{
      color:inherit;
      font-weight: bold;
      margin-left: 30px;
      
  }

  #footer-nav-links a:hover,
  #footer-copyright-social a:hover{
      text-decoration: none;
      color: #A9A9A9;
  }
 
  #footer-nav-links a,
  #footer-copyright-social a{
    transition-property: color;
    transition-duration: 0.3s;
  }

  

  #footer-copyright-social{
      background-color: #151515;
      color: #303030;
      padding-top: 30px;
      padding-bottom: 30px;
      font-weight: bold;
  }

  #footer-copyright-social a{
      color: inherit;
      margin-left: 5px;
      margin-right: 5px;
  }

  .navbar-form{
      margin-left: 0px;
      margin-right: 0px;
  }
/* الشاشات الصغيرة جدا */
  @media (max-width:767px) {
    

    #brand-logos img{
        max-height: 50px;
        max-width: 50px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    
    
    #brand-logos .img-container{
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

/* الشاشات الصغيرة فقط */
@media(max-width: 768px) and (max-width: 991px){
    
    
    
    body> .container-fluid> .row:not(:first-child):not(#last-child){
        margin-left: 0;
        margin-right: 0;
    }

    #carousel-product-images .carousel-inner .item img{
        width:80%;
        position: relative;
        right: 10%;
    }
}

/* الشاشات الصغيرة والصغيرة جدا */
@media(max-width:991px){
    
    
    #copyright, #social-icon{
        width: 100%;
        text-align: center;
    }

    #social-icon{
        font-size: 150%;
        margin-top: 10px;
    }

    
    

    #form-subscription{
        margin-bottom: 25px;
    }
}

/* المنتج */


#carousel-product-images .item img{
    border: 1px solid #EBEBEB;
    width: 100%;
    height: 450px;
}

.price.large{
    font-size: 30px;
    margin-top: 20px;
}



.color-option.active{
    border-color: white;
    outline: 1px solid black;
}

.select-inline{
    display: inline-block;
    width: auto;
}

.custom-label{
    font-weight: normal;
}

.custom-btn-with-icon{
    min-width: 250px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.borders-between > * + *  {
    border-top: 1px solid #EBEBEB;
    padding-top: 15px;
    padding-bottom: 15px;
}

#carousel-product-images .carousel-indicators{
    position: relative;
    top: -35px;
}

.custom-heading-with-border-bottom{
    display: inline-block;
    border-bottom: 2px solid #EBEBEB;
    padding-bottom: 15px;
    min-width: 250px;
}

.heading-inline{
    display: inline-block;
    min-width: 250px;
}

.heading-with-border-bottom{
    border-bottom: 2px solid #EBEBEB;
    padding-bottom: 15px;
    
}

.custom-media{
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 15px;
}

.custom-media .media-object{
    height: 80px;
    width: 80px;
    border: 1px solid #ebebeb;
}




#form-checkout button[type="submit"]{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
}





.custom-list-group > .list-group-item{
    border: none;
}



#search-pagination{
    width: 100%;
    text-align: center;
}



#search-results h3{
    margin-top: 0;
}

#map{
    height: 200px;
    margin-bottom: 25px;
}



#contact-info{
    margin-bottom: 25px; 
}

