
@import '_variables';

#carousel-featured{
    background-color: $background-product-featured;
    height: 400px;
    padding-top: 25px;

    .item img {
        height: 375px;
    }

    .product-details{
        border: 1px solid $spcial-border;
        padding: 20px;
        position: relative;
        top: 50px;
        height: 200px;
        background-color: $background-product-featured;

        .product-category{
            border: 1px solid $spcial-border;
            padding: 10px;
            position: absolute;
            top: -10px;
            right: -10px;
            background-color: $background-product-featured;
        }

        h1{
            font-weight: bold;
            font-size: 175%;
        }

        .custom-btn-primary{
            padding: 10px 25px;
            margin-top: 15px;
        
        }
    }

    .custom-carousel-indicators-primary{
        right: 68%;
        top: 235px;
    }
    

}

@media (max-width:767px) {
    #carousel-featured {
        height:auto;

        .product-details{
            position: static;
            text-align: center;
            height:auto;
        }

        .item img{
            height: 250px;
        }

    }

    
}

@media(max-width: 768px) and (max-width: 991px){
    #carousel-featured .custom-carousel-indicators-primary{
        right: 65%
    }
}










