@import '_variables';



.custom-carousel-indicators{
    position: static;
    width: 100%;
    text-align: center;
    margin: 0;

    & >li{
        background-color: $secondary-color;
        border-radius: 0;
    }

   & >li.active{
        background-color: $third-color;
    }

    &>li,
    & >li.active{
        height: 13px;
        width: 13px;
        margin: 2px;
    }
}

