@import '_variables';



#form-advanced-search{
    border: 1px solid $border-secondary;

    &> * + * {
        padding: {
            top: 0;
           bottom: 0;
        }
    }

    .custom-panel{
        border: none;
        margin: 0 -20px;
    }

    

    button{
        margin: {
            top: 25px;
            bottom: 25px;
        }
    }
}

@media(max-width:991px){
    #form-advanced-search{
        margin-bottom: 25px;


    }
    #form-advanced-search * + * {
        border: none;

    }
}



