
@mixin button-style($color){
    background-color: transparent;
    color: $color;
    border-color: $color;

    &:hover,
    &:focus,
    &:active,
    &:active:focus,
    &:active:hover{
        color: darken($color,25%);
        border-color: darken($color,25%);
        background-color: transparent;
    }

}