$brand-primary: #f8ad47;
$brand-secondary:#53CCD7;
$brand-danger:#ff3956;
$btn-primary-color-dark: darken($brand-primary,25%);
$btn-danger-color-dark:darken($brand-danger,25%);
$btn-form-control-focus: $btn-primary-color-dark;
$border-primary:#EEF0EA;
$border-secondary:#ebebeb;
$spcial-border:#DDDDDB;
$primary-color:white;
$secondary-color:#c2c2c2;
$third-color:#565656;
$background-product-featured:#F7F8F3;
$fourth-color:#868686;